$text-color: #666;

.theme-mini {
  .collapsed-btn {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid $text-color;
    color: $text-color;
    border-radius: 2px;
    line-height: 8px;
    text-align: center;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }
  .el-form-item {
    margin-bottom: 8px!important;
    &:last-child {
      margin-bottom: 0;
    }
    &>.el-form-item__label-wrap {
      margin-left: 0!important;
    }
  }
  .form-item-dynamic, .form-item-view {
    &>.el-form-item__label-wrap {
      float: none;
      color: $text-color;
    }
    &>.el-form-item__content {
      margin-left: 6px!important;
      padding: 6px 0 0 13px;
      border-left: 1px dotted $text-color;
      position: relative;
      top: -6px;
      transition: height .4s;
      overflow: hidden;
    }
  }
  .form-item-collapsed {
    &>.el-form-item__content {
      height: 0;
      padding-top: 0;
    }
  }
  .form-item-view {

  }
}